.holder{
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	border: 2px solid black;
	width:500px;
	height:auto;
}
 
.holder > .box1{
	background-color:red;
	padding:40px;
	order:1;
}
.holder > .box2{
	background-color:blue;
	padding:40px;
	order:2;
}
.holder > .box3{
	background-color: green;
	padding:40px;
}

/* Your CSS Code here. */